/* VARIABLES */
/* barlow-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* barlow-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/barlow-v12-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* fraunces-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v31-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v31-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* fraunces-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v31-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/fraunces-v31-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  :root{
     --main-font-family: "Fraunces", "Times New Roman", serif;
     --main-fraunces-font-weight: 900;
     --main-font-weight: 700;
     --main-text-color: #fefcf7;
     --main-second-text-color: #333d4b;
     --main-line-height: 25px;
     --main-bg-color: #0e8784;
  }
  
  /* GENERAL */
  
  * {
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
  }
  
  img{
    display: block;
    height: auto;
  }
  
  body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Barlow", "Arial" , sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
  }
  
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* CONTAINER */
  
  .container{
    max-width: 1240px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
  }
  
  /* STICKY-FOOTER */
  .site-main{
    flex-grow: 1;
  }

                /*  Header section  */
.site-header {
  padding-top: 32px;
  padding-bottom: 40px;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__menu {
  width: 16px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url("./images/dropdownimg.svg");
}

.nav {
  display: none;
}


@media only screen and (min-width: 550px) {

  .site-header__menu {
    display: none;
  }
  
  .nav {
    display: block;
  }
  
  .nav__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .nav__items:not(:last-child) {
    margin-right: 33px;
  }
  
  .nav__link {
    font-size: 12px;
    line-height: 15px;
    font-weight: var(--main-font-weight);
    letter-spacing: 0.923077px;
    color: #83888f;
    text-decoration-line: none;
    transition: 0.3s ease;
  }

  .nav__link:hover{
    color: var(--main-second-text-color);
  }
}

@media only screen and (min-width: 700px) {
    
  .site-header {
    padding-top: 40px;
    padding-bottom: 55px;
  }
  
  .logo__img {
    width: 236px;
    height: 26px;
  }
}

                 /*  Hero section  */
.hero__wrapper {
  padding: 100px 24px 99px 24px;
  background-image: url("./images/phonesbgimg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-color:  #a2a2a2;
}

.hero__textbox {
  margin: 0 auto;
  max-width: 279px;
  width: 100%;
  text-align: center;
}

.hero__title {
  font-family: var(--main-font-family);
  font-weight: var(--main-fraunces-font-weight);
  font-size: 32px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--main-text-color);
}

.hero__text {
  margin-top: 0;
  margin-bottom: 39px;
  font-size: 12px;
  line-height: 25px;
  color: var(--main-text-color);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.hero__link {
  display: inline-block;
  padding: 16px 31px;
  font-family: var(--main-font-family);
  font-weight: var(--main-fraunces-font-weight);
  font-size: 18px;
  line-height: 25px;
  color: var(--main-text-color);
  text-decoration: none;
  background-color: var(--main-bg-color);
  border-radius: 6px;
  transition: 0.3s ease;
}

.hero__link:hover{
  background-color:  #66d2cf;
}

               /*  Collection  */
.collection {
  padding: 120px 0;
}

/*.collection__wrapper {
  background-image: url("./images/collection.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(50% + -5px) calc(50% + 10px);
}*/

.collection__list {
  display: block;
  margin: 0 0;
  padding-left: 0;
  list-style-type: none;
}

.collection__items:not(:last-child) {
  margin-bottom: 48px;
}

.collection__img {
  margin: 0 auto;
}

.collection__textbox {
  max-width: 282px;
  width: 100%;
  margin: 0 auto;
}

.collection__title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: var(--main-font-family);
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--main-fraunces-font-weight);
  text-align: center;
  color: var(--main-second-text-color);
}

.collection__text {
  margin: 0;
  font-size: 14px;
  line-height: var(--main-line-height);
  text-align: center;
  color: var(--main-second-text-color);
}

@media only screen and (min-width: 700px) {
  .collection {
    padding-top: 144px;
  }

  .collection__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .collection__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .collection__textbox {
    margin-left: 36px;
  }
}

        /*  Card section  */
.card__textbox-wrapper {
  padding: 64px 24px 28px 24px;
  background-color: #2c343e;
  border-top-right-radius:  10px;
  border-top-left-radius: 10px;
}

.card__textbox {
  max-width: 279px;
  width: 100%;
  margin: 0 auto;
}

.card__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-size: 28px;
  line-height: 28px;
  font-weight: var(--main-fraunces-font-weight);
  text-align: center;
  color: var(--main-text-color);
}

.card__paragraph {
  margin: 0;
  font-size: 15px;
  line-height: var(--main-line-height);
  text-align: center;
  color: var(--main-text-color);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.card__wrapper {
  height: 633px;
  padding: 36px 24px 0 24px;
  background-color: #2c343e;
  mix-blend-mode: normal;
  opacity: 15;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
} 

.card__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.card__items {
  display: block;
  padding: 72px 24px 48px 24px;
  background-color: var(--main-bg-color);
  border-radius: 8px;
}

.card__items:not(:last-child) {
  margin-bottom: 24px;
}

.card__inner-textbox {
  max-width: 212px;
  width: 100%;
  margin: 0 auto;
}

.card__title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--main-fraunces-font-weight);
  text-align: center;
  color: var(--main-text-color);
}

.card__items--initial::before {
  position: relative;
  left: 80px;
  display: block;
  width: 71px;
  height: 72px;
  content: "";
  background-image: url("./images/quality.svg");
  background-repeat: no-repeat;
}

.card__items--middle::before {
  position: relative;
  left: 80px;
  display: block;
  width: 72px;
  height: 72px;
  content: "";
  background-image: url("./images/benefits.svg");
  background-repeat: no-repeat;
}

.card__items--last::before {
  position: relative;
  left: 80px;
  display: block;
  width: 72px;
  height: 50px;
  content: "";
  background-image: url("./images/shipping.svg");
  background-repeat: no-repeat;
}

.card__text {
  margin: 0;
  font-size: 15px;
  line-height: var(--main-line-height);
  text-align: center;
  color: var(--main-text-color);
}

@media only screen and (min-width: 700px) {
  .card__wrapper {
    padding-top: 42px;
    padding-right: 58px;
    padding-left: 58px;
  }

  .card__textbox {
    max-width: 540px;
    width: 100%;
  }

  .card__items {
    max-width: 573px;
    width: 100%;
    padding: 41px 48px 41px 181px;
  }

  .card__items--initial::before {
    position: absolute;
    left: 140px;
  }

  .card__items--middle::before {
    position: absolute;
    left: 140px;
  }

  .card__items--last::before {
    position: absolute;
    left: 140px;
  }

  .card__inner-textbox {
    max-width: 344px;
    width: 100%;
  }

  .card__title {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: left;
  }

  .card__text {
    text-align: left;
  }  
}

           /*  Feedback  section   */
.feedback {
  padding-top: 500px;
  padding-bottom: 120px;
}

.feedback__heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-family: var(--main-font-family);
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #83888f;
}

.feedback__list {
  display: block;
  margin-top: 0;
  margin-bottom: 79px;
  padding-left: 0;
  list-style-type: none;
}

.feedback__items:not(:last-child) {
  margin-bottom: 56px;
}

.feedback__numbers {
  display: block;
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-size: 72px;
  line-height: 72px;
  font-weight: var(--main-font-weight);
  text-align: center;
  color: #fdd6ba;
}

.feedback__textbox {
  max-width: 327px;
  width: 100%;
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-size: 28px;
  line-height: 32px;
  font-weight: var(--main-fraunces-font-weight);
  text-align: center;
  color: var(--main-second-text-color);
}

.feedback__text {
  margin: 0;
  font-size: 15px;
  line-height: var(--main-line-height);
  text-align: center;
  color: var(--main-second-text-color);
}

.feedback__link {
  display: inline-block;
  padding: 16px 31px;
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: var(--main-line-height);
  font-size: var(--main-fraunces-font-weight);
  text-align: center;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  border-radius: 6px;
  text-decoration: none;
  transform: translateX(65px);
}

@media only screen and (min-width: 700px) {
  .feedback {
    padding-top: 144px;
  }

  .feedback__heading {
    padding-bottom: 40px;
    text-align: left;
  }

  .feedback__list {
    display: flex;
    margin-top: 48px;
    margin-bottom: 44px;
  }

  .feedback__wrapper::before {
    position: relative;
    top: 100px;
    display: block;
    width: 497px;
    height: 31px;
    content: "";
    background-image: url("./images/feedbackline.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  .feedback__items:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .feedback__textbox {
    max-width: 223px;
    width: 100%;
  }

  .feedback__numbers {
    text-align: left;
    margin-bottom: 42px;
  }

  .feedback__title {
    margin-bottom: 39px;
    text-align: left;
  }

  .feedback__text {
    text-align: left;
  }

  .feedback__link {
    transform: translateX(0);
  }
}


          /*   Footer    */
.footer {
  padding: 54px 55px;
  background-color: #2c343e;
}

.footer__list {
  display: block;
  margin-top: 49px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

.footer__items:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link {
  font-size: 12px;
  line-height: 15px;
  font-weight: var(--main-font-weight);
  letter-spacing: 0.923077px;
  color: #83888f;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__items--last {
  display: flex;
  justify-content: space-evenly;
  margin-top: 51px;
}